@import '_colors';

header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.logo {
		display: flex;
		flex-direction: column;
		padding: 1rem 0;
		span {
			text-align: center;
		}
		&__letter {
			color: $primary-color-1;
			font-size: 3rem;
			text-shadow: #ff4242 4px 0 0;
		}
		&__first-name {
			color: white;
		}
	}

	.nav {
		background: $primary-color-1;
	}

	.contact {
		background: $primary-color-2;
		padding: 1rem 0;
	}
}
